{% extends 'layout.html' %}
{% block content %}
{% from '_macros.html' import render_firld %}
<div class="container-fluid">
    <form action="" method="post" novalidate>
        {{form.csrf_token}}
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="col-xs-6 text-center">
            <h3>Ingresa las Palabras a Guardar</h3>
            <div class="row control_group">
                {{render_firld(form.español)}}
                {{render_firld(form.ingles)}}
            </div>
            <input type="submit" value="Guardar" id="btnGuardar" name="btnGuardar" class="btn btn-success">
            <br><br>
        </div>
        <div class="col-xs-6 text-center">
            <h3>Ingresa la Palabra a Traducir</h3>
            <div class="row control_group">
                <input type="radio" name="translate" value="spanish"> Español
                <input type="text" name="txtSpanish" id="txtSpanish">
                <br><br>
                <input type="radio" name="translate" value="english"> Ingles
                <input type="text" name="txtEnglish" id="txtEnglish">
                <br>
            </div>
            <input type="submit" value="Traducir" id="btnTraducir" name="btnTraducir" class="btn btn-success">
            <br>
            <br>
            <h1>
                La traducción es: {{palabraEncontrada}}
            </h1>
        </div>
    </form>
</div>
{% endblock %}